body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

header {
	background-color: #b3e5fc;
}
header.darkmode {
	background-color: #424242;
	color: aliceblue;
}
body {
	background-color: #81d4fa;
	color: black;
}
body.darkmode {
	background-color: #212121;
	color: aliceblue;
}
footer {
	background-color: #b3e5fc;
	color: black;
}
footer.darkmode {
	background-color: #424242;
	color: aliceblue;
}

#darkmodeTgl {
	background-color: #b3e5fc;
	color: black;
}
#darkmodeTgl.darkmode {
	background-color: #424242;
	color: white;
}

#tabs {
	display: block;
	background-color: #424242;
	color: #212121;
}
.hidden {
	display: none;
}
textarea {
	color: black;
}
textarea.darkmode {
	color: aliceblue;
}
label {
	color: black;
}
#title_input_text {
	color: black;
}
#title_input_text.darkmode {
	color: aliceblue;
}
#submitUserInput {
	background-color: #b3e5fc;
	color: black;
}
#submitUserInput.darkmode {
	background-color: #424242;
	color: aliceblue;
}
/* label color */
.input-field label {
	color: #000;
}
.input-field label.darkmode {
	color: aliceblue;
}
#mainTextInput textarea {
	font-size: 135%;
}
#title_input_text {
	font-size: 160%;
}
form {
	margin-top: 3rem;
}
#loginUsername {
	color: aliceblue;
}
#loginPassword {
	color: black;
}
#createProfileWrap {
	margin-top: 3rem;
}
