body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

header {
	background-color: #b3e5fc;
}
header.darkmode {
	background-color: #424242;
	color: aliceblue;
}
body {
	background-color: #81d4fa;
	color: black;
}
body.darkmode {
	background-color: #212121;
	color: aliceblue;
}
footer {
	background-color: #b3e5fc;
	color: black;
}
footer.darkmode {
	background-color: #424242;
	color: aliceblue;
}

#darkmodeTgl {
	background-color: #b3e5fc;
	color: black;
}
#darkmodeTgl.darkmode {
	background-color: #424242;
	color: white;
}
